h1{
	font-family: montserrat;
	margin-top: 50px;
	padding: 30px;
	color: #FFFFFF
}
 p{
padding: 20px;
color: #FFFFFF
}
body{
	background-color: #111;
}
hr{
	color: #FFFFFF
}
footer{
	background-color: black;
	color: #FF0000
}